.bg-image {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../Img/hero-bg.jpg");
    width: 100%;
    height: 1100px;
    max-height: 100vh;
}

#header {
    gap: 15px;
}

@media (max-width: 768px) {
    .bg-image {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../Img/hero-bg-mobile.jpg");
        width: 100%;
        height: 768px;
        max-height: 100vh;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .bg-image {
        background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("../Img/hero-bg-tablette.jpg");
        width: 100%;
        height: 587px;
        max-height: 100vh;
    }
}